body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;

}

#project-page {
    display: flex;
    flex-direction: column;
    margin-top: 250px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin: 5px;
}

#spaghetti-canvas {
    border: 1px solid black;
    margin-top: 20px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}